USE [master]
GO
/****** Object:  Database [TelaDeCadastroELoginDb]    Script Date: 21/07/2025 16:11:50 ******/
CREATE DATABASE [TelaDeCadastroELoginDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelaDeCadastroELoginDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TelaDeCadastroELoginDb.mdf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelaDeCadastroELoginDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TelaDeCadastroELoginDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelaDeCadastroELoginDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelaDeCadastroELoginDb]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/07/2025 16:11:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUser] [varchar](10) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[registrationDate] [datetime] NOT NULL,
	[passwordHash] [varbinary](64) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
